--- 
--- 

@font-face {
    font-family: 'dearest';
    src: url('/webfonts/dearest.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mono';
    src: url('/webfonts/ia-writer-mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sprat';
    src: url('/webfonts/sprat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// ————————————————————————————————————————— 
// VARIABLES: for partials
// ————————————————————————————————————————— 
// for layout
$column-count: 12;
$column-count-m: 7;
$column-count-s: 4;
$grid-width: 1920;
$column-margin: 20;

// ————————————————————————————————————————— 
// IMPORTS 
// ————————————————————————————————————————— 
// these are partials
// init for mob theme
@import "init";
// grid and base layout classes
@import "layout";


// ————————————————————————————————————————— 
// VARIABLES: for base
// ————————————————————————————————————————— 
$headerheight: 80px;
$fullbrowserheight: calc(100vh - 80px);

// color
$offWhite: #fff5f5;
$red: #E60F0F;

// easings
$easing: cubic-bezier(0.5, 1, 0.89, 1);
$easeBack: cubic-bezier(0.34, 1.56, 0.64, 1);


// ————————————————————————————————————————— 
// M I X I N S
// ————————————————————————————————————————— 
// @include background-image("image.jpg");
@mixin background-image($url) {
    background: url($url) no-repeat center;
    background-size: cover;
}

// @include background-fill();
@mixin background-fill() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



// ————————————————————————————————————————— 
// core styles & classes
// ————————————————————————————————————————— 
body {
    background-color: #130101 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    * {
        color: $offWhite !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    a {
        font-family: 'sprat', serif;
        font-size: 220%;
        letter-spacing: -1px;
        line-height: 1.57;
    }
}

main {
    margin-top: 150px !important;
}

body,
input,
textarea,
radio,
checkbox,
.strip {
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-align: left;
}

.pv {
    padding-top: 65px;
    padding-bottom: 65px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;

    embed,
    video,
    object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

li p,
p .button,
p a {
    font-size: 100%;
}

.wo {
    overflow: visible;
}



// ————————————————————————————————————————— 
// header
// —————————————————————————————————————————

.main-header {
    .main-header__logo-area {
        a {
            text-decoration: none;
            font-family: 'dearest', serif;
            font-size: 500%;
            line-height: 1;
            letter-spacing: 0;
            transition: all 0.8s cubic-bezier(0.37, 0, 0.63, 1);

            &:hover {
                text-shadow: 10px 10px 0px $red;
            }
        }
    }

    .main-header__nav__icon img {
        height: 44px;
        padding: 10px 20px 10px 0;
    }
}

.work-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: -18px;

    .work-nav__link {
        margin: 5px 0;

        &.active {
            border-bottom: 1px solid $red;
        }
    }
}

// ————————————————————————————————————————— 
// Special Typography
// —————————————————————————————————————————
.home-hero,
.post {
    h1 {
        font-size: 600%;
        line-height: 1.2;
    }
}

.standard-text {
    margin-top: 100px;
    margin-bottom: 100px;

    p {
        font-family: 'mono', monospace;
        letter-spacing: 0;
    }
}

.work-cta {
    position: relative;
    overflow: visible;
    padding-bottom: 130px;

    &:before {
        opacity: .5;
        content: '//';
        display: block;
        position: absolute;
        bottom: 20px;
        font-family: 'mono', monospace;
        font-size: 150%;
    }

    &:after {
        opacity: .5;
        content: '';
        display: block;
        height: 1px;
        background: $offWhite;
        position: absolute;
        bottom: 25px;
        width: calc(100% - 30px);
        margin-left: 30px;
    }

    a {
        text-decoration: none;

        &:hover {
            .work-cta__image img {
                transform: scale(1.05);
                transform-origin: center;
            }
        }

        .work-cta__image {
            width: 100%;
            height: 40vw;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 2s $easing;
                transform: scale(1.01);
                filter: grayscale(1);
                
                &:hover {
                    filter: grayscale(0);
                }
            }
        }

        h2 {
            line-height: 1.2;
            max-width: 90%;
        }

    }

    .tags {
        margin-top: 50px;

        a {
            margin-right: 10px;
        }
    }

}

h1.special-heading,
.four-oh-four h1 {
    font-family: 'dearest', serif;
    font-size: 10vw;
}

.post {
    margin-top: 100px; 

    p, a {
        font-family: 'mono', monospace;
        letter-spacing: 0.5px;
    }

    a {
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    > div > p:first-of-type {
        &, a {
            color: $red !important;

        }
    }
}
// ————————————————————————————————————————— 
// buttons
// —————————————————————————————————————————

.work-nav__link,
.button,
.tags a {
    font-family: 'mono', monospace;
    font-size: 180%;
    letter-spacing: 1px;
    line-height: 1;
    color: $red !important;
    text-decoration: none;
    padding: 10px 0 5px 0;
    transition: all 1.5s cubic-bezier(0.34, 1.56, 0.64, 1);

    &:hover {
        letter-spacing: 2px;
    }
}



// ————————————————————————————————————————— 
// footer
// —————————————————————————————————————————

#footer {}


// —————————————————————————————————————————
// IMPORTS
// —————————————————————————————————————————
// these are partials, must go in the _sass folder
@import "responsive.scss";