<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />

    <title>Nikki - Jamstack & WordPress Developer - Designer</title>
    <meta name="description" content="Hi, I’m Nikki, a Jamstack & WordPress Developer. I also design for all mediums. Based in Winnipeg, MB, Canada.">
    <meta name="theme-color" content="#000000">
    
    <!-- favicons -->

    <!-- scripts -->
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous">
    </script>
    <script src="/js/global.js"></script>
    
    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">  

    <!-- font preload -->
    <!-- <link rel="preload" href="__HARD_URL_HERE__" as="font" type="font/woff" crossorigin>-->

    <!-- end wp head -->
</head>

<body>
    <header id="mainHeader" class="main-header wo">
        <div class="main-header__logo-area col-1-to-4 s-col-1-to-3">
            <a href="/">
                Nicky
            </a>
        </div>
        <nav id="mainNav" class="main-header__nav col-4-to-13 s-col-3-to-5">
            <!-- <a class="{% if page.url == "/work/" %}active{% endif %} main-header__nav__link" href="/work/">Work</a> -->
            <a class="main-header__nav__icon" href="">
                <img src="/images/linkedin.svg" alt="LinkedIn">
            </a>
            <a class="main-header__nav__icon" href="">
                <img src="/images/awwwards.png" alt="Awwwards Young Jury Profile">
            </a>
            <a class="main-header__nav__icon" href="">
                <img src="/images/spotify.svg" alt="Spotify">
            </a>
        </nav>
    </header>