@media only screen and (max-width: 870px) {
    body {
        font-size: 55%;
    }

    body h1, body h2, body h3, body h4, body h5, body h6, body p, body li, body a {
        font-size: 190%;
    }

    .work-cta a .work-cta__image {
        height: 60vw;
    }

    main {
        margin-top: 60px !important;
    }

    .work-nav {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .main-footer, .post,
    .work-cta .tags {
        margin-top: 30px;
    }

    .main-footer h2, .main-footer h3, .main-footer h4, .main-footer h5, .main-footer h6, .post h2, .post h3, .post h4, .post h5, .post h6 {
        font-size: 350%;
        margin-bottom: 20px;
    }

    h1.special-heading, .four-oh-four h1 {
        font-size: 800%;
        margin-bottom: 0;
    }

    .home-hero h1, .post h1 {
        font-size: 450%;
    }

}